# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# SVG treated as an asset (binary) by default
*.svg text

# Graphics
*.ico binary
*.gif binary
*.jpg binary
*.png binary

# Ensure shell scripts use LF
*.sh text eol=lf
